body {
	font-family: fantasy;
	text-align: center;
	background-color: gold;
}

h1 {
	margin-top: 20px;
}

canvas {
	border: 1px solid #000;
	margin: 20px auto;
	display: block;
	background-color: black;
}
#startButton {
    position: fixed;
    top: 805px; /* Juster efter behov */
    left: 10px; /* Juster efter behov */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Juster efter behov */
    color: white;
}
#besked-container {
    position: fixed;
    top: 10px; /* Juster efter behov */
    right: 10px; /* Juster efter behov */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Juster efter behov */
    color: white;
}
#antalSkudtDIV {

    position: fixed;
    top: 10px; /* Juster efter behov */
    left: 10px; /* Juster efter behov */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Juster efter behov */
    color: white;
}
#antalfjernetDIV {

    position: fixed;
    top: 50px; /* Juster efter behov */
    left: 10px; /* Juster efter behov */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Juster efter behov */
    color: white;
}
#antalTaarneDIV {

    position: fixed;
    top: 90px; /* Juster efter behov */
    left: 10px; /* Juster efter behov */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Juster efter behov */
    color: white;
}
.upgradeTower {

    position: fixed;
    top: 305px; /* Juster efter behov */
    left: 10px; /* Juster efter behov */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Juster efter behov */
    color: white;
}
.upgradeTower1 {

    position: fixed;
    top: 330px; /* Juster efter behov */
    left: 10px; /* Juster efter behov */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Juster efter behov */
    color: white;
}
#MoneyInTheBank {

    position: fixed;
    top: 260px; /* Juster efter behov */
    left: 10px; /* Juster efter behov */
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}
#Moneys {
    font-weight: bold;
    color: #4CAF50;
    margin-left: 5px;
}

