body {
	font-family: fantasy;
	text-align: center;
	background-color: gold;
}

h1 {
	margin-top: 20px;
}

canvas {
	border: 1px solid #000;
	margin: 20px auto;
	display: block;
	background-color: black;
}
#besked-container {
    position: fixed;
    top: 10px; /* Juster efter behov */
    right: 10px; /* Juster efter behov */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Juster efter behov */
    color: white;
}
